


header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
   
        background-color: #f8f3f0; /* change to any color you want */
        padding: 30px 20px;
        text-align: center;
        border-radius: 8px;


        
      }
  

body {
    background-color: #e8dbd1;
    margin: 0 10%;
    font-family: sans-serif;
    
    }
  
  

    h1 {
        text-align: center;
        font-weight: normal;
       
        
       color:#180f07; 
       margin: 0px;
       margin-top: 20px;

       font-family: "PT Serif", serif;
       font-weight: 400;
       font-style: normal;

    }


      h2 {
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: .5em;
        text-align: center;
        color:rgb(91, 84, 77);
      }

p {text-align: center;

}

  
  footer {
    border-top: 1px solid #8798a0;
    text-align: center;
    padding-top: 1em;
  }
  footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
   } 
  
  
  .navbar {
      background-color: #f9f1e8; 
      padding: 10px 0; 
      text-align: center; 
  }
  
  .nav-links {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center; 
      gap: 20px; 
  }
  
  .nav-links li {
      display: inline;
  }
  
  .nav-links a {
      text-decoration: none;
      color: rgb(118, 131, 189);
      font-size: 17px;
      padding: 10px 15px;
      transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
      color: #534f4b; 
  }
  
  
  .cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


a:link {
    color:rgb(71, 67, 67);
}


a:visited{
    color:#937393;

}

a:focus, a:hover { 
    color: #706e6c; 
    background-color: #b3aeae; 
} 

a:active {
    color: rgb(146, 130, 132);
    background-color: #fff;
}



dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


#info p {
  font-style: italic;
  text-align: center;
}

#info ul {
   
    text-align: center;
  }

.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

.menu-page h2 + p {
    text-align: center;
    font-style: italic;
  }

.container {
    background-color: #f4f4f4;
    padding: 20px;
    
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.header2 {
    background-color: rgb(229, 226, 223);
}


.contact-info {
    text-align: center;
    margin-bottom: 2em;
  }
  
  .contact-info address {
    font-style: normal;
    line-height: 1.6;
  }
  
  .map-container {
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }